<html>
  <head>
    <title>Glory to Rome Help</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tachyons@4.12/css/tachyons.css"
    />
    <link rel="stylesheet" href="../../react-components/dist/color.css" />
  </head>
  <body class="bg-gray sans-serif">
    <h1>Reference Links</h1>
    <ul>
      <li>
        <a
          href="https://cdn.1j1ju.com/medias/e2/0b/89-glory-to-rome-rulebook.pdf"
          target="_blank"
          >Glory to Rome Rules</a
        >
      </li>
      <li>
        <a
          href="https://www.boardgamegeek.com/boardgame/19857/glory-rome"
          target="_blank"
          >Board Game Geek: Glory to Rome</a
        >
      </li>
    </ul>
  </body>
</html>
